page-change-password {
ion-input{
    border-bottom: 1px solid map-get($colors,primary);
}
.card {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width: 50%;
  }
}
