page-send-message {
.rnd{
    border: 1px solid map-get($colors,primary);
    border-radius: 30px;
}
.card{
        position: absolute;
        top: 20%;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        width: 50%;
}
ion-input,ion-textarea{
    border-bottom: 1px solid map-get($colors,primary);
}
}
